aws_region         = "ap-south-1"
app_url            = "http://localhost:3000"
db_password        = "ReplaceWithStrongPassword123!"
ses_sender_email   = "alerts@example.com"
notifylk_user_id   = ""
notifylk_api_key   = ""
notifylk_sender_id = "NotifyDEMO"
notifylk_sms_type  = ""
demo_sms_recipients = ""
gemini_api_key     = ""
allowed_cidr_blocks = ["0.0.0.0/0"]
